  <div class="form-group">
		<%= bootstrap_form_for [@project, @task] do |f| %>
			
		  <%= f.text_field :name, class: 'form-control' %>

			
		  <%= f.text_area :description, class: 'form-control'  %>

		   
			<%= f.datetime_select :due_date, class: 'form-control'  %>

		
			<%= f.select(:priority, options_for_select([['Immediate', 1], ['High',2], ['Medium',3], ['Low',4], ['Whenever',5]])) %>

		
  		<%= f.label :complete, class: "checkbox inline" do %>
      	<%= f.check_box :complete %>
      <% end %>			  

		  <%= f.submit "Submit", class: "btn submit-btn"  %>
		<% end %>
	</div>
