<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="center panel-heading">      
        <h1> Edit Projectification </h1>
      </div>
      <div class="panel-body">
        <%= bootstrap_form_for @project do |f| %>
          
          <%= f.text_field :name %>

          <%= f.text_area :description %>


          <%= f.datetime_select :due_date %>

          <%= f.submit "Update Project", class: "btn btn-block btn-default"%>
        <% end %>
      </div>
  </div>
</div>