<% provide(:title, "Projects") %>
<h1 class="hero"> Current Projectifications </h1>
<p class="homebtn"><%= link_to 'New Project', new_project_path, class: 'btn btn-default btn-sm' %></p>

<% @projects.each do |project| %>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="center panel-heading">
        <h3><%= project.name %></h3>
    </div>
    <div class="panel-body">
        <h4><%= project.description %></h4>
        <% if project.due_date.present? && project.due_date < Time.now %>
            <p class="due">YOU ARE OUT OF TIME!</p>
        <% else %>
            <p>Due in: <%= distance_of_time_in_words_to_now(project.due_date) %></p>
        <% end %>
        <%= link_to 'Show', project_path(project), class: 'btn btn-default btn-sm' %>
        <%= link_to 'Edit', edit_project_path(project), class: 'btn btn-default btn-sm' %>
        <%= link_to 'Delete', project, method: :delete , class: 'btn btn-default btn-sm'%>
    </div>
  </div>
</div>
<% end %>